body{
    background: #2d2838;
}

.g-signin2{
    margin-top: 4.5em;
}

.logo{
    margin-top: 4em;
}

.center-header-font{
    text-align: center;
    margin-top: 0.2em;
   font-size: 6vw;
   font-family: century gothic;
   color: white;
   text-shadow: #222 1px 5px;
}

footer{
    background:#000000;
    padding-top: .7vw;
    opacity: .5;
    margin-top: 8em;
}

.copyright-font{
    text-align: center;
    font-family: tahoma;
    font-size: 15px;
    color: #ffffff;
}
