<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">

    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>

    <script src="https://apis.google.com/js/platform.js" async deferscript></script>

    <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet" type="text/css"/>
    <link href={% static 'css/home.css' %} rel="stylesheet" type="text/css"/>


    <title>Aspi.re Home</title>

    <script>

        function start() {
              gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                  client_id: '201957125577-blqlfuqg0ea5eriq8sgl5ntsln82b2of.apps.googleusercontent.com',
                  // Scopes to request in addition to 'profile' and 'email'
                  //scope: 'additional_scope'
                });
              });
            }

            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    window.location.href='http://localhost:8000/profilelogin/';
                });
              }

        function updateRecord() {
            if(document.getElementById('newdata').value==''){
                alert('Enter text');
            }
            else{
                var xhttp=new XMLHttpRequest();
                xhttp.open("POST", "http://localhost:8000/profilelogin/storeRec", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("data="+document.getElementById('newdata').value+"&id="+document.getElementById('token_id').value);
                xhttp.onreadystatechange = function() {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        var resp=xhttp.responseText;
                        if(resp=="error")
                            alert('Unable to Update');
                        else{
                            var jsonResp=JSON.parse(resp);
                            var dt="<tr><td>"+jsonResp.id+".</td><td>"+document.getElementById('newdata').value+"</td><td>"+jsonResp.updateTime+"</td></tr>"
                            document.getElementById('storerec').innerHTML+=dt;
                            document.getElementById('storerec').className="table table-striped table-hover table-sty";

                            document.getElementById('newdata').value="";
                        }

                    }
                };
            }
        }

    </script>

</head>

<body>

    <div class="container-fluid">
        <header>
            <div class="row">
                <div class="navbar navbar-inverse" style="background-color: #1b5e20;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}?id={{ token_id }}"><span style="color: #dcedc8; font-size: xx-large; font-family: 'Brush Script Std'">Aspi.re</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="topNavBar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="#" onclick="signOut();">
                                    <span aria-hidden="true"><img class="img-circle" src="{{ profilepic }}" alt='' width="30em" height="30em"></span>&nbsp;&nbsp;<span style="color: #dcedc8; font-size: large; font-family: 'Exotc350 DmBd BT'">Logout</span>
                                </a>
                            </li>

                    </ul>
                    </div>
                </div>
            </div>

        </header>

        <section>
            <div class="row profileinfo" style="">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="col-lg-8 col-lg-push-2 col-md-9 col-md-push-2 col-sm-12  col-xs-12 col-xs-push-0">
                        <img class="img-rounded" src="{{ profilepic }}" width="100%" height="100%" alt="profilepic"/>
                    </div>
                    <div class="col-lg-10 col-lg-push-2 col-md-10 col-md-push-2 col-xs-12 " style="margin-top: 1cm; margin-bottom: 0cm">
                        <div><p class="user-profile-font">Welcome,</p></div>
                        <div><p class="user-profile-font">{{ uname }}</p></div>
                        <div><p class="user-profile-font-email">({{ uemail }})</p></div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12" style="margin-top: 4em">
                    <div class="col-xs-12">
                        <form action="" method="" >
                            <div class="col-lg-5 col-lg-push-2 col-md-7 col-md-push-1 col-sm-8 col-xs-12" >
                                <input type="text" class="form-control" placeholder="Enter New Data" id="newdata" name="newdata" value="">
                            </div>
                            <div class="col-lg-2 col-lg-push-2 col-md-3 col-md-push-1 col-sm-4 col-xs-12" >
                                <input type="button" class="btn btn-success" style="width: 100%" value="Submit" onclick="updateRecord();">
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12" style="margin-top: 5em">
                        <table class="table table-striped table-hover table-sty" id="storerec">
                            <tr>
                                <th>S.No.</th>
                                <th>Updated Text</th>
                                <th>Date & Time</th>
                            </tr>
                            {% for data in all_data %}
                                <tr>
                                    <td>{{ data.updateID }}.</td>
                                    <td>{{ data.textdata }}</td>
                                    <td>{{ data.updateTime }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <input type="hidden" id="token_id" name="token_id" value="{{ token_id }}"/>
        <div class="footer navbar-fixed-bottom">
            <div class="col-xs-12">
                <p class="copyright-font text-center"> Developed by Prashant Agarwal</br>&copy;&nbsp;Copyright 2016. All Rights Reserved.</p>
            </div>

        </div>
    </div>

</body>
</html>